<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%=restaurant.name %></h2>
  <% end %>
<%else%>
  <h1>No restaurants yet</h1>
<% end %>

<a href="/restaurants/new">Add a restaurant</a>
