
- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
- else
  %h1 No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
